// The dialog presented when order a dish
// Url: /q/store_order
//
// Variables:
//
//$light_color: #ffffff;
//$dark_color: #000000;
//$dish_dialog_title_color: $dark_color;
//
// ===================================================================================

.dish_dialog_title {
  color: $dish_dialog_title_color;
  font-size: 16px;
  font-weight: bold;

}

.dish_dialog_choices {
  //color: yellow;
  margin: 20px 0px;

  em {
    color: #ff0000;
  }
}

.dish_dialog_submit {
  //color: #0000FF;
}