<ul class="breadcrumbs">
  <li class="current"><%= link_to 'Menus for ' + @store.name, store_menus_path(@store) %></li>
</ul>

<h1>New menu</h1>

<%= render 'form' %>

<%= link_to 'Back', store_menus_path(@store) %>
