<div id="side">
  <div id="side_intro">
    <h1>Open Hours</h1>
    <p>Monday - Sunday, 7 Days A Week!<br/>11:00am-10:00pm</p>

    <h1>Delivery</h1>
    <p>Limited Area Free Delivery(min: $12.0)<br/> Call us at: <b style="font-weight: bold;">979-693-9999</b></p>

    <h1>LOCATION:</h1>
    <p>1702 George Bush East, #101-B<br/>College Station, TX 77840 <br/><br/>Behind Fuddruckers, and next to Sweet Eugene</p>

    <br/>

    <div style="text-align: center;">
      Accept Cash, Master, Visa, Discover
      <br />
      <%= image_tag "templates/public/payment_visa.gif" %>
      <%= image_tag "templates/public/payment_master.gif" %>
      <%= image_tag "templates/public/payment_discover.gif" %>
      <%= image_tag "templates/public/payment_cash.gif" %>
      <br />
      Sorry, no check accpeted.
      <br/><br/>
    </div>
  </div>
</div>

