<div id="side">
  <h1 class="round-corners-ten">NO MSG!</h1>
  <p>
    100% Vegetable Oil. All chicken white meat. NO MSG!
  </p>

  <h1 class="round-corners-ten">Dine In Or Take Out</h1>
  <p>
    2721 Little Elm Parkway, Suite #215
    <br />
    Little Elm, TX 75068.
    <br />
    (at Kroger Shopping Center)
  </p>

  <h1 class="round-corners-ten">All Day Delivery</h1>
  <p>
    Order minimum $15.00 within 4 miles, call us at:<span style="font-size:20px;font-weight:bold;text-align:center;font-style:italic;">&nbsp;2148724436</span>
  </p>

  <h1 class="round-corners-ten">Business Hours</h1>
  <p>
    Open 7 Days A Week
    <br />
    Sun - Thur: 11:00am - 9:30 pm
    <br />
    Fri - Sat: 11:00pm - 10:00 pm
  </p>
  <br />
  <center>
    Accept Cash, Master, Visa, Discover
    <br />
    <%= image_tag "templates/yumasian/icons/VISA.gif" %>
    <%= image_tag "templates/yumasian/icons/MASTER.gif" %>
    <%= image_tag "templates/yumasian/icons/DISCOVER.gif" %>
    <%= image_tag "templates/yumasian/icons/CASH.gif" %>
    <br />
    Sorry, no check accpeted.
  </center>
</div>
