<script type="text/javascript">
    $(document).ready(function(){
        $("#location").attr('class','selected');
    });
</script>

<div id="main">
  <div id="google_map">
    <br />
    <iframe style="margin-left:15px;" width="620" height="410" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=1702+George+Bush+East+%23101-College+Station,+TX+77840&amp;ie=UTF8&amp;hq=&amp;hnear=1702+George+Bush+Dr+E,+College+Station,+Texas+77840&amp;gl=us&amp;t=m&amp;vpsrc=6&amp;hl=zh-CN&amp;view=map&amp;ll=30.623067,-96.316195&amp;spn=0.017727,0.027466&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small><a style="margin-left:15px;" href="http://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=1702+George+Bush+East+%23101-College+Station,+TX+77840&amp;ie=UTF8&amp;hq=&amp;hnear=1702+George+Bush+Dr+E,+College+Station,+Texas+77840&amp;gl=us&amp;t=m&amp;vpsrc=6&amp;hl=zh-CN&amp;view=map&amp;ll=30.623067,-96.316195&amp;spn=0.017727,0.027466&amp;z=15&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">
      See Big Map
    </a></small>
    <br/><br/>
  </div>
</div>

<%= render "q/templates/#{@template_name}/side" %>