<script type="text/javascript">
    $(document).ready(function(){
        $("#menus").attr('class','selected');
        $("#side").smartFloat();

        $( ".dish" ).click(function() {
            var dish_id = $(this).attr("dish_id");
            $(".dish_dialog[dish_id=" + dish_id + "]").dialog("open");
        });
    });
</script>

<div id="major">
  <div id="menus_nav">
    <div id="menu_tabs">
      <ul>
        <% @menus.each do |menu| %>
            <li>
              <%= link_to menu.name, "javascript:$('.yyy').hide();$('#yyy_#{menu.id}').show();void(0);" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="main">
  <%= render "q/templates/public/menus" %>
</div>

<div id="side" >
  <%= render "q/templates/public/cart" %>
</div>
