<script>
    $(document).ready(function(){
        $('#index').attr("class","selected");
    });
</script>

<div id="major">
  <%= render "q/templates/public/gallery" %>
</div>

<div id="main">
  <div id="greetings">
    <br/><br/>
    <h2>Welcome to <br/>Joy Luck Chinese & Sushi!</h2>
    <br/>
    <h3>Enjoy Our Great Asian Food! &nbsp;&nbsp;&nbsp;MSG FREE!&nbsp;&nbsp;&nbsp;TRANS-FAT FREE!</h3>
    <br/><br/>
    <p>We're proud to have served the B/CS communities during the past 15 years. We'll be offering the best of two worlds: Chinese Cuisine and newly-added Japanese Sushi ! Incredible taste, reasonable prices, and best of all, we deliver to your home!</p>
  </div>
</div>

<div id="side">
  <%= image_tag "templates/joyluckdelivery/logos/kitchenpic.jpg" %>
</div>