$body-bg: #949e48 url(asset-path("templates/default_2/background.png"));
#main {
  background-image: url(asset-path("templates/default_2/background-paper.png"));

  #main_top {
    background: #949e48 url(asset-path("templates/default_2/background-paper-top.png")) no-repeat bottom center;
    height: 7px;
    padding-top: 40px;
  }
  #main_bottom {
    background: #949e48 url(asset-path("templates/default_2/background-paper-bottom.png")) no-repeat;
    height: 9px;
    padding-bottom: 50px;
  }
}

@import 'foundation';





div.menu {

  min-height: 200px;

  div.category {

    margin-top: 10px;

    .category_name {
      height:40px;line-height:40px;
      font-size:20px;font-weight:bold;padding:0px 20px;
    }
    .category_desc {
      height:40px;line-height:40px;
      font-size:12px;

      a {color:#FFFFFF;}
    }

    div.dish {

      line-height:30px;
      font-size:14px;
      border-bottom:1px solid #DDDDDD;

      a {color: red}
    }
  }
}