// jquery ui
// =============================================================================
@import 'jquery.ui.all';

$light_color: #8FB247;
$dark_color: #7B0B17;
$color_three: #FFF9AB;

$body_bg: #ffffff image-url('templates/joyluckdelivery/logos/joyluckdelivery_bg.jpg');
$header_width: 960px;
$header_height: 210px;
$header_bg: $dark_color;
$header_logo_width: 960px;
$header_logo_height: 110px;
$header_logo_bg: $dark_color;
@import "public/base";

$gallery_width: 958px;
$gallery_height: 450px;
@import "public/gallery";

$menu_color: #000000;
$menu_bg_color: #ffffff;
$category_color: #FFFFFF;
$category_bg_color: #7B0B17;
$dish_color: #000099;
$dish_bg_color: #ffffff;
@import 'public/menu';

$cart_color: #FFFFFF;
$cart_bg_color: $dark_color;
@import "public/cart";

$dish_dialog_title_color: $dark_color;
@import "public/dish_dialog";

@import "public/order";

// Facebook, Twitter, Yelp Button On Top of all Pages
// Url: All Pages
// =============================================================================
.fb, .tw, .yp {
  height:30px;width:30px;display:inline-block;
  background:image-url('templates/joyluckdelivery/icons/fb_tw_yp.png') no-repeat 0px 0px;
}
.fb {
  background-position:-66px 0px;
}
.yp {
  background-position:-33px 0px;
}

// The greetings from the resturant
// Url: /q/store_home
// =============================================================================
#greetings {
  h2 {
    font-size:40px;line-height: 60px;
    color:#8FB247;font-weight:bold;margin:0;
  }

  h3 {
    font-size:20px;line-height: 60px;
    color:#7B0B17;margin:0;
  }

  p {
    font-size:20px;padding:5px;line-height:30px;
    color:#8FB247;font-weight:bold;margin:0;
  }
}

// The nav bar above menus
// Url: /q/store_menus
// =============================================================================
div#menus_nav {
  border: 1px solid #bbbbbb;background-color: #ffffff;

  div#menu_tabs {
    ul {
      margin:10px auto;padding:0;
      width:958px;height:160px;

      li {width:290px;margin:5px 10px;list-style:none;float:left;background:#7B0B17;cursor:pointer;}
      li a {color:#7B0B17;background:#DDDDDD;padding-left:5px;width:285px;display:block;float:left;text-decoration:none;height:40px;line-height:40px;font-size:16px;font-weight:bold;}
      li.selected a {color:#ffffff;background:#7B0B17;}
    }
  }

}

/*COUPON*/
.coupon {
  float:left;width:270px;height:200px;margin:20px;color:#8FB247;padding:5px;text-align:center;border:3px dashed #ccc;background:#FFF;

  table td.couponRest{width:150px;font-weight:bold;height:50px;}
  table td.couponInfo{width:150px;height:50px;font-size:12px;}
  table td.couponDescription{font-size:20px;font-weight:bold;height:50px;color:#FF9933;}
  table td.couponDiscount{font-size:30px;font-style:italic;font-weight:bold;height:50px;color:#FF9933;}
  table td.couponValidDate {width:300px;height:50px;font-size:12px;}
}



// The container for Google Map
// Url: /q/store_map
// ===================================================================================
#google_map {
  width:598px;
  background-color:#FFFFFF;
  margin: 0px;
}

