<h1>Editing statement_item</h1>

<%= render 'form' %>

<%= link_to 'Show', statement_statement_item_path(@statement, @statement_item) %> |
<%= link_to 'Back', statement_statement_items_path(@statement) %>
