<div class="row">
  <div class="large-6 columns">
    Retrieve Your Store<br/><br/>
    <%= form_tag(h_retrieve_store_path, method: "get") do %>
        <%= text_field_tag(:uuid) %>
        <%= submit_tag("Retrieve", class: "small button") %>
    <% end %>

    <%= flash[:alert] %>
  </div>
</div>