<div id="side">
  <div id="side_intro">
    <h1 class="round-corners-ten" align="center">China Inn</h1>
    <p>
      We're proud to serve the Hempstead communities.
      We'll be offering great Asian Food.
      Incredible taste, reasonable prices, and best of all, we deliver to your home!
    </p>

    <h1 class="round-corners-ten">Delivery:</h1>
    <p>
      Order minimum $12 plus $2 delivery fee.
      <span style="font-size:20px;font-weight:bold;">On Campus only!</span><br/>
      Call us at:<span style="font-size:20px;font-weight:bold;text-align:center;font-style:italic;">&nbsp;9799210866.</span>
    </p>

    <h1 class="round-corners-ten">Hours:</h1>
    <p>11:00 am - 9:00 pm</p>

    <h1 class="round-corners-ten">Location:</h1>
    <p>240 Austin Street<br />Hempstead, TX 77445</p>

    <div style="text-align: center;">
      Accept Cash, Master, Visa, Discover
      <br />
      <%= image_tag "templates/public/payment_visa.gif" %>
      <%= image_tag "templates/public/payment_master.gif" %>
      <%= image_tag "templates/public/payment_discover.gif" %>
      <%= image_tag "templates/public/payment_cash.gif" %>
      <br />
    </div>
  </div>
</div>


