<script type="text/javascript">
    $(document).ready(function(){
        $("#location").attr('class','selected');
    });
</script>

<div id="major">
  <div id="google_map">
    <br />
    <iframe width="960" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2721+Little+Elm+Parkway,+Little+Elm,+TX&amp;aq=1&amp;oq=2721+Little+Elm&amp;sll=30.590851,-96.291661&amp;sspn=0.203331,0.341263&amp;ie=UTF8&amp;hq=&amp;hnear=Little+Elm+Pkwy,+Little+Elm,+Denton,+Texas+75068&amp;t=m&amp;ll=33.187559,-96.889973&amp;spn=0.068957,0.154324&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2721+Little+Elm+Parkway,+Little+Elm,+TX&amp;aq=1&amp;oq=2721+Little+Elm&amp;sll=30.590851,-96.291661&amp;sspn=0.203331,0.341263&amp;ie=UTF8&amp;hq=&amp;hnear=Little+Elm+Pkwy,+Little+Elm,+Denton,+Texas+75068&amp;t=m&amp;ll=33.187559,-96.889973&amp;spn=0.068957,0.154324&amp;z=13&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a>
    </small>
    <br /><br />
  </div>
</div>
