<script>
    $(document).ready(function(){
        $('#index').attr("class","selected");
    });
</script>

<div id="main">
  <%= render "q/templates/public/gallery" %>
</div>

<%= render "q/templates/#{@template_name}/side" %>