<script type="text/javascript">
    $(document).ready(function(){
        $("#menus").attr('class','selected');
    });
</script>

<div id="main">
  <%= render "q/templates/public/order" %>
</div>

<div id="side">
  <%= render "q/templates/public/cart" %>
</div>
