<div class="row">
  <div class="large-12 columns" style="text-align: center;">
    <div class="button">Service Is Temporarily Not Available</div>
    <br/>
    Have a question? Contact <%= link_to "help.777pos@gmail.com", "javascript:void(0);"  %>
  </div>
</div>
