<br/><br/><br/><br/>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 large-offset-2 columns">
        <ul class="pricing-table">
          <li class="title">Standard</li>
          <li class="price">$49.99 <span>per month</span></li>
          <li class="description">Quick ordering system for new store.</li>
          <li class="bullet-item">1 Menu/200 Dishes</li>
          <li class="bullet-item">x</li>
          <li class="bullet-item">x</li>
          <li class="bullet-item">x</li>
          <li class="bullet-item">1GB Storage</li>
          <li class="bullet-item">1 User</li>
          <li class="cta-button"><a class="button" href="#">Not Avaliable Now</a></li>
        </ul>
      </div>
      <div class="large-4 end columns">
        <ul class="pricing-table">
          <li class="title">Premium</li>
          <li class="price">$149.99 <span>per month</span></li>
          <li class="description">Advanced ordering system for busy store.</li>
          <li class="bullet-item">5 Menus/1000 Dishes</li>
          <li class="bullet-item">Location/Distance Validation</li>
          <li class="bullet-item">Coupon/Discount Management</li>
          <li class="bullet-item">Mobile/Tablet Support</li>
          <li class="bullet-item">5GB Storage</li>
          <li class="bullet-item">5 Users</li>
          <li class="cta-button"><a class="button" href="#">Not Avaliable Now</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render "buy" %>