<div class="flex-video">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13726.126897851982!2d-96.33654859660231!3d30.675312230936804!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86468138b0121d33%3A0x5bea4218e3790953!2sN+Earl+Rudder+Fwy!5e0!3m2!1sen!2sus!4v1404831932670" width="800" height="600" frameborder="0" style="border:0" style="border:0"></iframe>
</div>