<div class="flex-video">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13726.113982795046!2d-96.33582255506872!3d30.675403115123906!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8646813f33d8fa25%3A0x1c0a6ebb10d7b080!2s980+N+Earl+Rudder+Fwy!5e0!3m2!1sen!2sus!4v1403583567034" width="800" height="600" frameborder="0" style="border:0"></iframe>
</div>