<div class="row">
  <% if @dishes %>
      <div class="large-12 columns">
        <ul data-orbit>
          <% @dishes.each do |d| %>
              <li>
                <%= image_tag d.image_url, width: 1000, height: 300 %>
                <div class="orbit-caption">
                  <%= d.bei %>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="large-9 columns">
    <%= image_tag "templates/imperialbcs/menucover_imperialbcs.png" %>
  </div>
  <div class="large-3 columns">
    <%= render "q/templates/#{@template_name}/side" %>
  </div>
</div>

