<div class="row">
  <div class="large-8 columns">
    <h3>ABOUT IMPERIAL CHINESE SUSHI</h3>
    <p>We are located at 980 N Earl Rudder Fwy, formerly known as the Tony Roma’s building.</p>
    <p>Our goal is to provide a whole new concept of Chinese restaurant, which blends the two most popular elements of East Asia, i.e. Chinese and Japanese cuisines, and creatively choose only the dishes that are already loved by people in Bryan and College Station area.</p>
  </div>
  <div class="large-4 columns">
    <%= image_tag "templates/imperialbcs/store_intro_two.png" %>
  </div>
</div>

<hr/>

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "templates/imperialbcs/store_intro_one.png" %>
  </div>
  <div class="large-8 columns">
    <p>The co-existence of the two types of food, as well as our American-style decoration will not make you feel odd, but rather see a beauty generated from a gentle cultural clash.</p>
    <p>Both of our Chinese Chef and Sushi Chef have more than ten years of experience serving the B/CS area, thus they know the taste of local residents very well.</p>
    <p>Our creative dishes combining elaborately selected wine and Sake ensure that you will enjoy what you already like the most, along with perfect dining environment and excellent service.</p>
  </div>
</div>

<br/>
<hr/>
<br/>

<div class="row">
  <div class="large-4 columns">
    <h3>MEET OUR CHEFS</h3>
    <%= image_tag "templates/imperialbcs/store_intro_two.png" %>
  </div>
  <div class="large-8 columns">
    <p><strong>Ting Lin Guo</strong><span style="font-style: italic;">&nbsp;&nbsp;&nbsp;Co-Founder, Head Chef</span></p>
    <p>Ting Lin Guo, born in Fujian, China, where one of the eight Chinese cuisines, Fujian Cuisine was originated.His hometown is close to the sea, which inspired his cooking natural style and kept the primary taste of food.</p>
    <p>His mother passed all her culinary skills to her talented son, Ting Lin. The hardness of his early life forced Guo to leave his hometown to a trip searching for a famous cooking master when he was 16. Later he came to the States, and became the Head Chef at Tjin’s, where he served ten years at this position, and trained his son, Tim Guo, to become a very ingenious cook.</p>
    <p>The secret of Guo is the best ingredient he chooses all the time: Guo believes that “there is not a cook (unless he is a magician) that can turn a chunk of overly frozen chicken fillet into a plate of tender, juicy General Tso’s Chicken”.</p>
    <p>The unique sauce he created is more flavorful and contains lower sodium compare to others’. Every single dish he cooked is on-demand, and will never be from dull, semi-finished frozen products. Chinese cuisine is endless and profound, and Guo still learns everyday.</p>
    <p>He insists to bring the B/CS community only the best of his creations, where he knows every street, and loves every inch of the ground, where he made his dream come true and started his own family (the Guos just welcomed a newborn baby boy in June, 2014).</p>
  </div>
</div>

