<br/><br/>

<div class="row">
  <div class="large-3 columns">
    <%= @store.address.address1 + ", " +  @store.address.address2%>
    <hr/>
    <%= @store.address.city + ", " + @store.address.state %>
    <hr/>
    This is side! Side! Side!
    <hr/>
    This is side! Side! Side!
    <hr/>
    This is side! Side! Side!
  </div>
  <div class="large-9 columns">
    <ul data-orbit>
      <li>
        <img src="http://placehold.it/1200x500&text=Slide Image 1" alt="slide image">
        <div class="orbit-caption">
          Caption One.
        </div>
      </li>
      <li class="active">
        <img src="http://placehold.it/1200x500&text=Slide Image 2" alt="slide image">
        <div class="orbit-caption">
          Caption Two.
        </div>
      </li>
      <li>
        <img src="http://placehold.it/1200x500&text=Slide Image 3" alt="slide image">
        <div class="orbit-caption">
          Caption Three.
        </div>
      </li>
    </ul>
  </div>
</div>

