<div id="cart_container">
  <ul id="cart">
    <% if @cart %>
        <%= render @cart, store: @store %>
    <% else %>
        <li id="cart_message">Your Cart Is Empty!</li>
    <% end %>
  </ul>
</div>

<script>
    $(document).ready(function(){
        $('#cart').bind('ajax:beforeSend', function() {
            $(this).children('#cart_loading').show();
        });
        $('#cart').bind('ajax:complete', function() {
            $(this).children('#cart_loading').hide();
        });
    });
</script>