<!--footer start-->
<div id="footer">
  <div id="footer_nav_large">
    <ul>
      <li><%= link_to "Home", q_store_home_path %></li>
      <li><%= link_to "Menus", q_store_menus_path %></li>
      <li class="no-separator"><%= link_to "Location", q_store_map_path %></li>
    </ul>
  </div>
  <div id="footer_intro">
    Yum Asian Bistro is the Best Asian Food in Town For Delivery and Takeout. Delivery (Minimum $15.00 Within 4 Miles)
    <br />
    2721 Little Elm Parkway, Suite #215, Little Elm, TX 75068. (at Kroger Shopping Center)
  </div>
  <div id="footer_brand">
    Website Created and Maitained by
    <a href="http://www.777pos.com">777POS</a>
  </div>
  <div id="footer_nav_small">
    &copy; 2012 Yum Asian Bistro. All Rights Reserved.
    &bull; <a href="http://www.paypal.com">PayPal</a>
    &bull; <a href="http://www.interfax.net">Fax</a>
    &bull; <a href="/Test/tsweb/admin">Management</a>
  </div>
</div><!--footer-->
<!--footer end-->